.container{
    width: 85%;
    margin: auto;
}

.content{
    width: 100%;
}

mat-card{
    margin-top: .8rem;
    padding: .2rem;
}

.novo-todo{
    width: 100%;
    margin-top: 3rem;
}

p{
    text-align: end;
    font-weight: 600;
    color: sandybrown;
    font-style: italic;
    padding-bottom: 0;
}

.actions{
    text-align: end;
}

.actions button{
    margin: .5rem;
}

.badge{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button{
    width: 100%;
    margin: auto;
}

